/1. Seminarski - Server/nbproject/private/
/1. Seminarski - Zajednicki/build/
/1. Seminarski - Zajednicki/dist/
/1. Seminarski - Server/build/
/1. Seminarski - Klijent/nbproject/private/
/1. Seminarski - Klijent/build/
/1. Seminarski - Klijent/dist/
/1. Seminarski - Server/dist/
